sdk/samples/movie/src/manifest.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://schema.nesp.com/ppk/res/fishplugin"
           xmlns="http://schema.nesp.com/ppk/res/fishplugin">

    <xs:element name="manifest">
        <xs:complexType>
            <xs:all>
                <xs:element name="plugin">
                    <xs:complexType>
                        <xs:all>

                            <xs:element name="ref">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="variable" type="Variable"
                                                    maxOccurs="unbounded"/>
                                    </xs:sequence>
                                    <xs:attributeGroup ref="CommonAttrGroup"/>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="tags">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tag" type="Tag" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="parent">
                                <xs:complexType>
                                    <xs:attributeGroup ref="CommonAttrGroup"/>
                                    <xs:attribute name="url" type="Url"/>
                                    <xs:attribute name="path" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="pages">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!--<xs:element name="page" type="Page" minOccurs="1"
                                                    maxOccurs="5"/>-->
                                        <xs:element name="homePage" type="HomePage"
                                                    maxOccurs="unbounded"/>
                                        <xs:element name="categoryPage" type="CategoryPage"
                                                    maxOccurs="unbounded"/>
                                        <xs:element name="searchPage" type="SearchPage"
                                                    maxOccurs="unbounded"/>
                                        <xs:element name="detailPage" type="DetailPage"
                                                    maxOccurs="unbounded"/>
                                    </xs:sequence>
                                    <xs:attributeGroup ref="CommonAttrGroup"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>

                        <xs:attributeGroup ref="CommonAttrGroup"/>
                        <xs:attribute name="name" type="Name" use="required"/>
                        <xs:attribute name="minSdkVersion" type="xs:positiveInteger"
                                      default="1"
                                      use="required"/>
                        <xs:attribute name="targetSdkVersion" type="xs:positiveInteger"
                                      default="1"
                                      use="required"/>

                        <xs:attribute name="author" type="xs:string"/>
                        <xs:attribute name="introduction" type="xs:string"/>
                        <xs:attribute name="type" type="PluginType" use="required"/>
                        <xs:attribute name="deviceType" type="DeviceType" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="pluginId" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Type Define -->
    <xs:complexType name="Tag">
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="Variable">
        <xs:all>
            <xs:element name="value" type="xs:anyType"/>
        </xs:all>
        <xs:attributeGroup ref="CommonAttrGroup"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:attributeGroup name="CommonAttrGroup">
        <xs:attribute name="deviceType" type="DeviceType" use="optional"/>
    </xs:attributeGroup>

    <xs:simpleType name="Url">
        <xs:restriction>
            <xs:pattern
                    value="(ht|f)tp(s?)\:\/\/[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*(:(0-9)*)*(\/?)([a-zA-Z0-9\-\.\?\,\'\/\\\+&amp;%$#_]*)?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Name">
        <xs:restriction base="xs:string">
            <!--            <xs:pattern value="[a-zA-Z0-9]{8}"/>-->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PluginId">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="replace"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PluginId2">
        <xs:restriction base="xs:string">
            <xs:minLength value="5"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StringArray">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="PluginType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="movie"/>
            <xs:enumeration value="music"/>
            <xs:enumeration value="book"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DeviceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="all"/>
            <xs:enumeration value="mobile"/>
            <xs:enumeration value="table"/>
            <xs:enumeration value="desktop"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Page">
        <!--        <xs:choice>-->
        <!--             &lt;!&ndash;Defines js&ndash;&gt;-->
        <!--            <xs:element name="js" type="Js"/>-->
        <!--                        <xs:element name="dsl" type="DslEnum"/>-->
        <!--        </xs:choice>-->

        <!--        <xs:attribute name="id" type="PageId" use="required"/>-->
        <xs:attributeGroup ref="CommonAttrGroup"/>
        <xs:attribute name="url" type="Url"/>
        <xs:attribute name="refUrl" type="Url"/>
    </xs:complexType>

    <xs:simpleType name="PageId">
        <xs:restriction base="xs:string">
            <xs:enumeration value="home"/>
            <xs:enumeration value="categoryMovie"/>
            <xs:enumeration value="categorySoap"/>
            <xs:enumeration value="categoryVariety"/>
            <xs:enumeration value="categoryAnim"/>
            <xs:enumeration value="search"/>
            <xs:enumeration value="detail"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Js">
        <xs:complexContent>
            <xs:extension base="xs:string">
                <xs:attribute name="url" type="Url"/>
                <xs:attribute name="path" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--Movie Special-->
    <!--Page-->
    <xs:complexType name="HomePage">
        <xs:complexContent>
            <xs:extension base="Page">
                <xs:choice>
                    <!-- Defines js-->
                    <xs:element name="js" type="Js"/>
                    <xs:element name="dsl" type="HomePageDsl"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CategoryPage">
        <xs:complexContent>
            <xs:extension base="Page">
                <xs:choice>
                    <!-- Defines js-->
                    <xs:element name="js" type="Js"/>
                    <xs:element name="dsl" type="CategoryPageDsl"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
        <xs:attribute name="category" type="MovieCategory" use="required"/>
    </xs:complexType>

    <xs:simpleType name="MovieCategory">
        <xs:restriction base="xs:string">
            <xs:enumeration value="movie"/>
            <xs:enumeration value="soap"/>
            <xs:enumeration value="variety"/>
            <xs:enumeration value="anim"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SearchPage">
        <xs:complexContent>
            <xs:extension base="Page">
                <xs:choice>
                    <!-- Defines js-->
                    <xs:element name="js" type="Js"/>
                    <xs:element name="dsl" type="SearchPageDsl"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DetailPage">
        <xs:complexContent>
            <xs:extension base="Page">
                <xs:choice>
                    <!-- Defines js-->
                    <xs:element name="js" type="Js"/>
                    <xs:element name="dsl" type="DetailPageDsl"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--Dsl-->
    <xs:complexType name="Dsl">
    </xs:complexType>

    <!--Home Dsl-->
    <xs:complexType name="HomePageDsl">
        <xs:complexContent>
            <xs:extension base="Dsl">
                <xs:attributeGroup ref="HomePageDslGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:attributeGroup name="HomePageDslGroup">
        <xs:attribute name="slideList" type="xs:string"/>
        <xs:attribute name="slideStatus" type="xs:string"/>
        <xs:attribute name="slideCoverImage" type="xs:string"/>
        <xs:attribute name="slideDetailUrl" type="xs:string"/>
        <xs:attribute name="newPlayList" type="xs:string"/>
        <xs:attribute name="newPlayStatus" type="xs:string"/>
        <xs:attribute name="newPlayName" type="xs:string"/>
        <xs:attribute name="newPlayScore" type="xs:string"/>
        <xs:attribute name="newPlayCoverImage" type="xs:string"/>
        <xs:attribute name="newPlayDetailUrl" type="xs:string"/>
        <xs:attribute name="newMovieList" type="xs:string"/>
        <xs:attribute name="newMovieStatus" type="xs:string"/>
        <xs:attribute name="newMovieName" type="xs:string"/>
        <xs:attribute name="newMovieScore" type="xs:string"/>
        <xs:attribute name="newMovieCoverImage" type="xs:string"/>
        <xs:attribute name="newMovieDetailUrl" type="xs:string"/>
        <xs:attribute name="newSoapList" type="xs:string"/>
        <xs:attribute name="newSoapStatus" type="xs:string"/>
        <xs:attribute name="newSoapName" type="xs:string"/>
        <xs:attribute name="newSoapScore" type="xs:string"/>
        <xs:attribute name="newSoapCoverImage" type="xs:string"/>
        <xs:attribute name="newSoapDetailUrl" type="xs:string"/>
        <xs:attribute name="newVarietyList" type="xs:string"/>
        <xs:attribute name="newVarietyStatus" type="xs:string"/>
        <xs:attribute name="newVarietyName" type="xs:string"/>
        <xs:attribute name="newVarietyScore" type="xs:string"/>
        <xs:attribute name="newVarietyCoverImage" type="xs:string"/>
        <xs:attribute name="newVarietyDetailUrl" type="xs:string"/>
        <xs:attribute name="newAnimList" type="xs:string"/>
        <xs:attribute name="newAnimStatus" type="xs:string"/>
        <xs:attribute name="newAnimName" type="xs:string"/>
        <xs:attribute name="newAnimScore" type="xs:string"/>
        <xs:attribute name="newAnimCoverImage" type="xs:string"/>
        <xs:attribute name="newAnimDetailUrl" type="xs:string"/>
        <xs:attribute name="newCommonList" type="xs:string"/>
        <xs:attribute name="newCommonStatus" type="xs:string"/>
        <xs:attribute name="newCommonName" type="xs:string"/>
        <xs:attribute name="newCommonScore" type="xs:string"/>
        <xs:attribute name="newCommonCoverImage" type="xs:string"/>
        <xs:attribute name="newCommonDetailUrl" type="xs:string"/>
    </xs:attributeGroup>

    <!--Category Page Dsl-->
    <xs:complexType name="CategoryPageDsl">
        <xs:complexContent>
            <xs:extension base="Dsl">
                <xs:attributeGroup ref="CategoryPageDslGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:attributeGroup name="CategoryPageDslGroup">
        <xs:attribute name="categoryGroupList" type="xs:string"/>
        <xs:attribute name="categoryList" type="xs:string"/>
        <xs:attribute name="categoryTitle" type="xs:string"/>
        <xs:attribute name="categoryUrl" type="xs:string"/>
        <xs:attribute name="movieList" type="xs:string"/>
        <xs:attribute name="movieStatus" type="xs:string"/>
        <xs:attribute name="movieName" type="xs:string"/>
        <xs:attribute name="movieScore" type="xs:string"/>
        <xs:attribute name="movieCoverImage" type="xs:string"/>
        <xs:attribute name="movieDetailUrl" type="xs:string"/>
        <xs:attribute name="detail" type="xs:string"/>
        <xs:attribute name="nextPageUrl" type="xs:string"/>
    </xs:attributeGroup>

    <!--Search Page Dsl-->
    <xs:complexType name="SearchPageDsl">
        <xs:complexContent>
            <xs:extension base="Dsl">
                <xs:attributeGroup ref="SearchPageDslGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:attributeGroup name="SearchPageDslGroup">
        <xs:attribute name="movieList" type="xs:string"/>
        <xs:attribute name="movieCoverImage" type="xs:string"/>
        <xs:attribute name="movieCategory" type="xs:string"/>
        <xs:attribute name="movieStars" type="xs:string"/>
        <xs:attribute name="movieDirector" type="xs:string"/>
        <xs:attribute name="movieReleaseTime" type="xs:string"/>
        <xs:attribute name="movieType" type="xs:string"/>
        <xs:attribute name="movieName" type="xs:string"/>
        <xs:attribute name="movieScore" type="xs:string"/>
        <xs:attribute name="movieDetailUrl" type="xs:string"/>
        <xs:attribute name="nextPageUrl" type="xs:string"/>
    </xs:attributeGroup>

    <!--Detail Page Dsl-->
    <xs:complexType name="DetailPageDsl">
        <xs:complexContent>
            <xs:extension base="Dsl">
                <xs:attributeGroup ref="DetailPageDslGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:attributeGroup name="DetailPageDslGroup">
        <xs:attribute name="episodeList" type="xs:string"/>
        <xs:attribute name="episodeGroupList" type="xs:string"/>
        <xs:attribute name="episodeTitle" type="xs:string"/>
        <xs:attribute name="episodeUrl" type="xs:string"/>
        <xs:attribute name="episodePlayUrl" type="xs:string"/>
        <xs:attribute name="episodeListReversed" type="xs:string"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="status" type="xs:string"/>
        <xs:attribute name="score" type="xs:string"/>
        <xs:attribute name="stars" type="xs:string"/>
        <xs:attribute name="director" type="xs:string"/>
        <xs:attribute name="area" type="xs:string"/>
        <xs:attribute name="introduction" type="xs:string"/>
        <xs:attribute name="releaseTime" type="xs:string"/>
        <xs:attribute name="detail" type="xs:string"/>
        <xs:attribute name="subtitle" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="category" type="xs:string"/>
    </xs:attributeGroup>

</xs:schema>